#img_logo, #img_logo2 {
    max-height: 100px;
    /*    max-width: 250px;*/
    margin-left: 20px;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
    background: black;
    border-top-left-radius:2%; 
    border-top-right-radius:2%;
    border-bottom-left-radius:2%; 
    border-bottom-right-radius:2%;
}

.modal-header {

    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
    text-align: center;
    background: black;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;

}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: center;
    border-top: 0px;
}
